@import '../../assets/scss/variables';

.component {
  display: grid;
  gap: 2rem;

  @media (min-width: map-get($breakpoints, sm)) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: map-get($breakpoints, md)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: map-get($breakpoints, lg)) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: map-get($breakpoints, xl)) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: map-get($breakpoints, xxl)) {
    grid-template-columns: repeat(4, 1fr);
  }

  &.noGrid {
    grid-template-columns: auto;
    text-align: center;
  }
}
