@import '../../assets/scss/variables';
@import '../../assets/scss/main';

.component {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: map-get($colors, light);
  background: map-get($colors, dark);

  .container {
    @extend .container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    min-height: 10px;

    span {
      font-size: 23px;
      line-height: 20px;
      margin-right: map-get($distance, s);
    }

    a {
      color: white;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
