@import '../../assets/scss/variables';

.component {
  display: flex;
  flex-direction: column;
  flex: 1;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: map-get($distance, xl);
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div {
      padding: 5%;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
    }

    @media (min-width: map-get($breakpoints, md)) {
      flex-direction: row;
    }

    @media (min-width: map-get($breakpoints, xxl)) {
      grid-template-columns: repeat(4, 1fr);
    }

    h3:first-child {
      margin-top: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
    }

    p {
      margin: 0;
    }

    .skeletonBody {
      span {
        margin-bottom: map-get($distance, m);
      }
    }
  }
}
